body {
  margin: 0;
  /* overflow-x: hidden; */
}

.md\:container {
  max-width: 1200px !important;
}

@media print {
  #bypassme {
    display: none;
  }

  .md\:container {
    max-width: 1600px !important;
  }
}
